@{
    ViewBag.Title = "Home Page";
}

<div>
    <div class="parallax-container">
        <div class="parallax"><img src="https://cdn.pixabay.com/photo/2018/03/08/13/57/outdoors-3208705_960_720.jpg"></div>
    </div>
    <div class="section black">
        <div class="row container">
            <h2 class="header white-text">Quality Expert S.A</h2>
            <p class="grey-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique earum corrupti dolorem quo aut aperiam! Suscipit quas omnis facere fugit distinctio quos natus recusandae temporibus tenetur cumque iste pariatur maxime eaque libero laudantium quod ab voluptatibus blanditiis mollitia, totam odit deleniti autem voluptatum tempora! Culpa sequi iure, minus pariatur aperiam possimus? Architecto obcaecati maxime ducimus vel expedita animi earum deleniti, quam porro eum quod autem unde, dolor minima id! Ab reprehenderit voluptatum error ducimus fugiat accusamus quod dolorum excepturi? Velit quia commodi eaque voluptatem perferendis architecto cupiditate eligendi ad reprehenderit. Ipsam necessitatibus, at odit iste pariatur et est excepturi porro libero laudantium dolorum consectetur! Quo placeat iusto numquam nostrum quibusdam consequatur nesciunt. Et sit voluptates enim, aperiam suscipit voluptate non quibusdam. Voluptas numquam laudantium maxime veritatis vel quo saepe neque velit ea eaque eveniet ullam consectetur blanditiis inventore pariatur est quia, minus commodi obcaecati, magni quidem, debitis reiciendis assumenda ex. Esse sed, tempore fugiat nostrum sit nemo exercitationem reprehenderit commodi doloremque reiciendis natus eos, explicabo iusto mollitia voluptatum placeat numquam laborum veritatis illo minima repellendus. Eveniet sint saepe ipsam debitis tenetur assumenda! Tempora iste, autem consectetur nobis doloribus facere debitis ipsa, dicta, eum reiciendis ad laboriosam. Sint labore vel esse.</p>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="https://cdn.pixabay.com/photo/2013/10/02/23/03/dawn-190055_960_720.jpg"></div>
    </div>
</div>

