@{
    ViewBag.Title = "Home Page";
}

<div>

</div>

@*

    


    @{
        if( User.IsInRole( "Jefe" ) )
        {
            <h2>SIIIIIIIIUUUUUUUUUU JEFE</h2>
        }
        else
        {
            <h2>SIIIIIIIIUUUUUUUUUU NO SOY JEFE</h2>

        }
    }

*@