.footer-down {
    display: flex;
    min-height: 80vh;
    flex-direction: column;
}




.turq {
    background-color: #00796B;
}

.center{
    margin: 0 auto!important;
}

.distance{
    margin-top: 70px!important;
}

.text-grey {
    color: #616161;
}

.text-turq {
    color: #00796B;
}


.text-error {
    color: darkred;
    font-size: 10px;
}

.margin-b{
    margin-bottom: 5px!important; 
}

.margin-b1 {
    margin-bottom: 12px !important;
}

.p-size{
    font-size: 1.2em;
}

.margin-p {
    margin-top: 5%;
}

.btn-login{
    width: 110px!important;
}

.top-m-block {
    margin: 5% auto !important;
}

.padd{
    padding-left: 50px;
}
