
@{
    ViewBag.Title = "Index";
}
@{

    if (User.IsInRole("Jefe"))
    {
        <div class="row">
            <div class="col s4">
                <div class="card hoverable">
                    <nav>
                        <div class="nav-wrapper  black">
                            <p class="col s4">Reportes</p>
                        </div>
                    </nav>
                    <div class="card-content black-text">
                        <div class="row">
                            <div class="col s12">
                                <div class="col s12 margin-b1">
                                    <p class="p-size">Requerimientos terminados</p>
                                    <a class="waves-effect waves-light btn  black turq-hover">Consultar</a>
                                </div>

                                <div class="col s12 margin-b1">
                                    <p class="p-size">Requerimientos en ejecución</p>
                                    <a class="waves-effect waves-light btn  black turq-hover">Consultar</a>
                                </div>
                                <div class="col s12 margin-b1">
                                    <p class="p-size">Cantidad de requerimientos por tester</p>
                                    <a class="waves-effect waves-light btn  black turq-hover">Consultar</a>
                                </div>
                                <div class="col s12 margin-b1">
                                    <p class="p-size">Historial participación</p>
                                    <a class="waves-effect waves-light btn  black turq-hover">Consultar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s8">
                <div class="card hoverable">
                    <nav>
                        <div class="nav-wrapper grey">
                            <p class="col s8">Resultados</p>
                            <form action="Edit">
                                <input type="text" id="ability" placeholder="Buscar por . . ." style="width: 20%;">
                                <a class="waves-effect waves-light btn  black turq-hover">Buscar</a>
                                <!--<button type="submit" onclick="getAbility()" class="btn btn-default" name="Search" value="Search" title="Search">Buscar</button>-->
                            </form>
                        </div>
                    </nav>  
                    <div class="card-content black-text">
                        <div class="row">
                            <div class="col s12">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    }
    else
    {
        <div class="row container center top-m-block">
            <div class="card hoverable s10 section">
                <h3>Lo sentimos.<br />Debes iniciar sesión como <span class="red-text"> jefe </span> para ingresar a la sección de Reportes.</h3>
                <i class="large material-icons red-text">block</i>
            </div>
        </div>
    }

}
